.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2d2d2d;
  width: 100%;
  height: 100px;
  padding: 5px;
  position: relative;

  .logo {
    display: flex;
    justify-content: center;
    max-height: 100%;

    img {
      width: 80%;
      max-height: 90px;
      object-fit: cover;
      display: block;
    }
  }

  .Loupe {
    cursor: pointer;
    background: none;
    border: none;
    position: absolute;
    left: 2%;
    top: 4%;
    height: 100%;

    &:hover {
      height: 105%;
      opacity: 80%;
    }

    .loupeImg {
      max-height: 60%;
    }
  }
}

.hero-container {
  display: flex;
  overflow: hidden;
  position: relative;
  height: calc(100vh - 100px);
  width: 100%;
  animation: hideFilters 0.5s forwards;

  .hero-image {
    width: 100%;
    object-fit: cover;
  }

  .MenuFilters {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    color: aliceblue;
    align-items: center;
    background: #444444;
    width: 100%;
    height: 100%;
    animation: opacity 0.5s forwards;
    opacity: 0.8;
    padding: 20px;
  }

  .back {
    animation: opacityBack 0.5s forwards;
  }
}

.cut {
  animation: showFilters 0.5s forwards;
}

@media screen and (max-width: 770px) {
  .logo img {
    padding-left: 5%;
  }

  .loupeImg {
    height: 35%;
    padding-left: 10%;
  }
}

@keyframes opacityBack {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}

@keyframes opacity {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 0;
  }
}

@keyframes showFilters {
  from {
    height: calc(100vh - 100px);
  }
  to {
    height: 40vh;
  }
}

@keyframes hideFilters {
  from {
    height: 40vh;
  }
  to {
    height: calc(100vh - 100px);
  }
}
