.CheckboxGenre {
  display: flex;
  justify-content: center;
  overflow: hidden;
  white-space: nowrap;
  border-radius: 10px;
  width: 60%;
  .CheckboxGenreScrollbar {
    overflow: auto;
  }
}

.CheckboxPlateforme {
  display: flex;
  justify-content: center;
  overflow: auto;
  white-space: nowrap;
  border-radius: 10px;
  width: 60%;
  .CheckboxPlateformeScrollbar {
    overflow: auto;
    
  }
}
.p-multiselect .p-multiselect-label.p-placeholder {
  font-weight: bold;
font {
  color: rgba(0, 0, 0, 0.799);
}  
}
