.bouton-ps4 {
  background-color: blue;
}

.bouton-ps5 {
  background-color: blue;
}

.bouton-xbox {
  background-color: green;
}

.bouton-pc {
  background-color: black;
}

.bouton-switch {
  background-color: red;
}

.bouton-xbox {
  background-color: green;
}
.bouton-pc {
  background-color: rosybrown;
}

.bouton-Game-boy {
  background-color: darkslateblue;
}
