* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  background-color: #3a3a3a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.cardsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
  padding: 20px;
}
