* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  background-color: #3a3a3a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.cardsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
  padding: 20px;
}
.carousel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.carousel img {
  width: 100%;
  max-width: 800px;
  height: auto;
  height: 300px; /* ajuste la hauteur selon tes besoins */
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: 768px) {
  .carousel img {
    height: 200px; /* ajuste la hauteur selon tes besoins */
  }
}


@keyframes bounce {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: translateY(-250px);
  }

  38% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0);
  }

  55% {
    animation-timing-function: ease-in;
    transform: translateY(-65px);
  }

  72% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }

  81% {
    animation-timing-function: ease-in;
    transform: translateY(-28px);
  }

  90% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }

  95% {
    animation-timing-function: ease-in;
    transform: translateY(-8px);
  }

  100% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }
}
