.scroll-to-top {
  position: fixed;
  bottom: 50px;
  right: 50%;
  display: none;
  width: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
  rotate: 180deg;
  transition: opacity 0.4s;

  img {
    width: 50px;
    transform: translate(-50%);
    &:hover {
      width: 60px;
    }
  }
}
.scroll-to-top.visible {
  opacity: 0.85;
  display: initial;
}
